.d-flex {
  flex: 2;
}

.card-list {
  margin: 0 auto;
}

@media (min-width: 700px) {
  .card-list {
    margin-left: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}  