@import "../components//atoms/Button//styled.css";
@import "../components/atoms/Heading/style.css";
@import "../components/molecules/ButtonList/styled.css";
@import "../components/molecules/TitleDivider/style.css";

@import "../components/organisms/LeftPanelItem/style.css";

@import "../components/templates/LeftPanel/style.css";


body {
  background-color: lightgrey;
}

@media (min-width: 701px) {
  .container {
    display: flex;
    align-items: flex-start;
  }
}
